# Archivos grandes y datos
data/archivos_parquet/
*.parquet
assets/*.png

# Entornos virtuales
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Caché y directorios temporales
__pycache__/
*.py[cod]
*$py.class
.cache
cache-directory/
.direnv

# Archivos de distribución
dist/
build/
*.egg-info/
*.egg

# Archivos de prueba y cobertura
.coverage
.coverage.*
htmlcov/
.pytest_cache/

# Archivos de IDE
.idea/
.vscode/
*.swp
*.swo

# Archivos de registro y base de datos
*.log
*.sqlite3

# Archivos de compilación
*.so
*.pyc

# Archivos de Jupyter
.ipynb_checkpoints/

# Otros archivos y directorios
.DS_Store
.Python
pip-log.txt
*.manifest
*.spec